$font-family: 'Open Sans', 'sans-serif';
$main-bg-color: #FFCD66;
$text-area-bg-color: #2E4052;
$text-area-text-color: #D4F5F5;

body {
    font: 100% $font-family;
    background-color: $main-bg-color;
}

textarea {
    resize: none;
    background-color: $text-area-bg-color;
    color: $text-area-text-color;
    border-radius: 1%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100vh;
}

.item {
    min-width: 325px;
    width: 500px;
    height: 600px;
    margin: 25px;
    overflow-y: scroll;
    flex: 1 auto;
}

#header {
    font: $font-family;
    color: $text-area-bg-color;
    margin: auto;
    align: 'center';
}

#raw-markdown {
    height: 100%;
    width: 100%;
}

#converted-markdown {
    height: 100%;
    width: 100%;
}


//scroll bar css
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}
 
::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}
 
::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 3px;
}
 
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}
 
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}